 
 <!-- I have some more work to do  but i am stoping for now -->

 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Semester 2</title>
     
 </head>
 <style>
     table, th, td {
   border: 1px solid black;
 }
 </style>
 <body>
     <h1>Time Table for Semester 2</h1>
     <table>
         <tr>
             <th></th>
             <th>8 - 8:50 am</th>
             <th>9 - 9:50 am</th>
             <th>10 - 10:50 am</th>
             <th>11 - 11:50 am</th>
             <th>12 - 12:50 pm</th>
             <th>1 - 1:50 pm</th>
             <th>2 - 2:50 pm</th>
             <th>3 - 3:50 pm</th>
             <th>4 - 4:50 pm</th>
             <th>5 - 5:50 pm</th>
             
         </tr>
         <tr>
             <td>Monday</td>
             <td>electives</td>
             <td>electives</td>
             <td>Mathematics-II<br>
                 FC006</td>
             <td>Chemistry <br>ITC001</td>
             <td>Mathematics-II<br> Tutorial<br>
                 FC006</td>
             <td>Mathematics-II <br>Tutorial<br>
                 FC006</td>
             <td> </td>
             <td>Object<br>Oriented<br>Techniques<br>ITC02</td>
             <td>Analog and<br>Digital<br>Communication<br>ITC03</td>
             <td></td>
         </tr>
         <tr>
             <td>Tuesday</td>
             <td>electives</td>
             <td>electives</td>
             <td>Mathematics-II<br>
                 FC006</td>
             <td>Object<br>Oriented<br>Techniques<br>ITC02</td>
             <td></td>
 
             <td></td> 
             <td>English - II <br>FC006</td>
             <td>Chemistry <br>ITC001</td>   
             <td>Discrete<br>Structure<br>ITC04 </td>
             
             <td></td>
            
         </tr>
         <tr>
             <td>Wednesday</td>
             <td>electives</td>
             <td>electives</td>
             <td>Mathematics-II<br>
                 FC006</td>
             <td>    </td>
             <td>Object<br>Oriented<br>Techniques<br>ITC02</td>
             <td>Chemistry <br>ITC001</td>   
             <td>Chemistry lab<br>ITC001</td>   
             <td>Chemistry lab<br>ITC001</td>   
             
             <td>Discrete<br>Structure<br>ITC04 </td>
             <td>Analog and<br>Digital<br>Communication<br>ITC03</td>
         </tr>
         <tr>
             <td>Thursday</td>
             <td></td>
             <td>Mathematics-II<br>
                 FC006</td>
             <td>English - II <br>FC006</td>
             <td>Chemistry <br>ITC001</td>   
             <td>Analog and<br>Digital<br>Communication<br>ITC03</td>
             <td>    </td>
             <td>Discrete<br>Structure<br>ITC04 </td>
             
             <td>Object<br>Oriented<br>Techniques Lab<br>ITC02</td>
             <td>Object<br>Oriented<br>Techniques Lab<br>ITC02</td>
 
                  
             <td>    </td>      
         </tr>
         <tr>
             <td>Friday</td>
             <td>electives</td>
             <td>electives</td>
             <td>Mathematics-II<br>
                 FC006</td>
                 <td>Physics
                     <br>FC004
                 </td>
             <td></td>
             <td>Computer<br>Programming<br>FC002</td>             
             <td>Mathematics-I<br>FC001</td>
             <td>English - I <br>FC005</td>
             <td>    </td>      
             <td>    </td>      
        
         </tr>
     </table>
 </body>
 </html> 
 
 
 